<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="slick.jdbc" level="DEBUG"/>
    <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG" />
    <logger name="scala.slick.session" level="DEBUG"/>
    <logger name="com.zaxxer.hikari">
        <level value="INFO"/>
    </logger>
</configuration>